<%= simple_form_for @tipo_elemento, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :nombre %>
  <%= f.input :descripcion %>
  <select id="tipo_elemento_icono" name="tipo_elemento[icono]">
    <option value="fa-shopping-cart">
      <i class="fa fa-shopping-cart fa-5x"></i>
      fa-shopping-cart
    </option>
    <option value="fa-glass">
      <i class="fa fa-glass fa-5x"></i>
      fa-glass
    </option>
    <option value="fa-music">
      <i class="fa fa-music fa-5x"></i>
      fa-music
    </option>
    <option value="fa-search">
      <i class="fa fa-search fa-5x"></i>
      fa-search
    </option>
    <option value="fa-envelope-o">
      <i class="fa fa-envelope-o fa-5x"></i>
      fa-envelope-o 
    </option>
    <option value="fa-heart">
      <i class="fa fa-heart fa-5x"></i>
      fa-heart
    </option>
    <option value="fa-star">
      <i class="fa fa-star fa-5x"></i>
      fa-star
    </option>
    <option value="fa-star-o">
      <i class="fa fa-star-o fa-5x"></i>
      fa-star-o
    </option>
    <option value="fa-user">
      <i class="fa fa-user fa-5x"></i>
      fa-user
    </option>
    <option value="fa-film">
      <i class="fa fa-film fa-5x"></i>
      fa-film
    </option>
    <option value="fa-th-large">
      <i class="fa fa-th-large fa-5x"></i>
      fa-th-large
    </option>
    <option value="fa-th">
      <i class="fa fa-th fa-5x"></i>
      fa-th
    </option>
    <option value="fa-th-list">
      <i class="fa fa-th-list fa-5x"></i>
      fa-th-list
    </option>
    <option value="fa-check">
      <i class="fa fa-check fa-5x"></i>
      fa-check
    </option>
    <option value="fa-times">
      <i class="fa fa-times fa-5x"></i>
      fa-times
    </option>
    <option value="fa-search-plus">
      <i class="fa fa-search-plus fa-5x"></i>
      fa-search-plus
    </option>
    <option value="fa-search-minus">
      <i class="fa fa-search-minus fa-5x"></i>
      fa-search-minus
    </option>
    <option value="fa-power-off">
      <i class="fa fa-power-off fa-5x"></i>
      fa-power-off
    </option>
    <option value="fa-signal">
      <i class="fa fa-signal fa-5x"></i>
      fa-signal
    </option>
    <option value="fa-gear">
      <i class="fa fa-gear fa-5x"></i>
      fa-gear
    </option>
    <option value="fa-cog">
      <i class="fa fa-cog fa-5x"></i>
      fa-cog
    </option>
    <option value="fa-trash-o">
      <i class="fa fa-trash-o fa-5x"></i>
      fa-trash-o
    </option>
    <option value="fa-home">
      <i class="fa fa-home fa-5x"></i>
      fa-home
    </option>
    <option value="fa-file-o">
      <i class="fa fa-file-o fa-5x"></i>
      fa-file-o
    </option>
    <option value="fa-clock-o">
      <i class="fa fa-clock-o fa-5x"></i>
      fa-clock-o
    </option>
    <option value="fa-road">
      <i class="fa fa-road fa-5x"></i>
      fa-road
    </option>
    <option value="fa-download">
      <i class="fa fa-download fa-5x"></i>
      fa-download
    </option>
    <option value="fa-arrow-circle-o-down">
      <i class="fa fa-arrow-circle-o-down fa-5x"></i>
      fa-arrow-circle-o-down
    </option>
    <option value="fa-arrow-circle-o-up">
      <i class="fa fa-arrow-circle-o-up fa-5x"></i>
      fa-arrow-circle-o-up
    </option>
    <option value="fa-inbox">
      <i class="fa fa-inbox fa-5x"></i>
      fa-inbox
    </option>
    <option value="fa-play-circle-o">
      <i class="fa fa-play-circle-o fa-5x"></i>
      fa-play-circle-o
    </option>
    <option value="fa-rotate-right">
      <i class="fa fa-rotate-right fa-5x"></i>
      fa-rotate-right
    </option>
    <option value="fa-repeat">
      <i class="fa fa-repeat fa-5x"></i>
      fa-repeat
    </option>
    <option value="fa-refresh">
      <i class="fa fa-refresh fa-5x"></i>
      fa-refresh
    </option>
    <option value="fa-list-alt">
      <i class="fa fa-list-alt fa-5x"></i>
      fa-list-alt
    </option>
    <option value="fa-lock">
      <i class="fa fa-lock fa-5x"></i>
      fa-lock
    </option>
    <option value="fa-flag">
      <i class="fa fa-flag fa-5x"></i>
      fa-flag
    </option>
    <option value="fa-headphones">
      <i class="fa fa-headphones fa-5x"></i>
      fa-headphones
    </option>
    <option value="fa-volume-off">
      <i class="fa fa-volume-off fa-5x"></i>
      fa-volume-off
    </option>
    <option value="fa-volume-down">
      <i class="fa fa-volume-down fa-5x"></i>
      fa-volume-down
    </option>
    <option value="fa-volume-up">
      <i class="fa fa-volume-up fa-5x"></i>
      fa-volume-up
    </option>
    <option value="fa-qrcode">
      <i class="fa fa-qrcode fa-5x"></i>
      fa-qrcode
    </option>
    <option value="fa-barcode">
      <i class="fa fa-barcode fa-5x"></i>
      fa-barcode
    </option>
    <option value="fa-tag">
      <i class="fa fa-tag fa-5x"></i>
      fa-tag
    </option>
    <option value="fa-tags">
      <i class="fa fa-tags fa-5x"></i>
      fa-tags
    </option>
    <option value="fa-book">
      <i class="fa fa-book fa-5x"></i>
      fa-book
    </option>
    <option value="fa-bookmark">
      <i class="fa fa-bookmark fa-5x"></i>
      fa-bookmark
    </option>
    <option value="fa-print">
      <i class="fa fa-print fa-5x"></i>
      fa-print
    </option>
    <option value="fa-camera">
      <i class="fa fa-camera fa-5x"></i>
      fa-camera
    </option>
    <option value="fa-font">
      <i class="fa fa-font fa-5x"></i>
      fa-font
    </option>
    <option value="fa-bold">
      <i class="fa fa-bold fa-5x"></i>
      fa-bold
    </option>
    <option value="fa-italic">
      <i class="fa fa-italic fa-5x"></i>
      fa-italic
    </option>
    <option value="fa-text-height">
      <i class="fa fa-text-height fa-5x"></i>
      fa-text-height
    </option>
    <option value="fa-text-width">
      <i class="fa fa-text-width fa-5x"></i>
      fa-text-width
    </option>
    <option value="fa-align-left">
      <i class="fa fa-align-left fa-5x"></i>
      fa-align-left
    </option>
    <option value="fa-align-center">
      <i class="fa fa-align-center fa-5x"></i>
      fa-align-center
    </option>
    <option value="fa-align-right">
      <i class="fa fa-align-right fa-5x"></i>
      fa-align-right
    </option>
    <option value="fa-align-justify">
      <i class="fa fa-align-justify fa-5x"></i>
      fa-align-justify
    </option>
    <option value="fa-list">
      <i class="fa fa-list fa-5x"></i>
      fa-list
    </option>
    <option value="fa-dedent">
      <i class="fa fa-dedent fa-5x"></i>
      fa-dedent
    </option>
    <option value="fa-outdent">
      <i class="fa fa-outdent fa-5x"></i>
      fa-outdent
    </option>
    <option value="fa-indent">
      <i class="fa fa-indent fa-5x"></i>
      fa-indent
    </option>
    <option value="fa-video-camera">
      <i class="fa fa-video-camera fa-5x"></i>
      fa-video-camera
    </option>
    <option value="fa-photo">
      <i class="fa fa-photo fa-5x"></i>
      fa-photo
    </option>
    <option value="fa-image">
      <i class="fa fa-image fa-5x"></i>
      fa-image
    </option>
    <option value="fa-picture-o">
      <i class="fa fa-picture-o fa-5x"></i>
      fa-picture-o
    </option>
    <option value="fa-pencil">
      <i class="fa fa-pencil fa-5x"></i>
      fa-pencil
    </option>
    <option value="fa-map-marker">
      <i class="fa fa-map-marker fa-5x"></i>
      fa-map-marker
    </option>
    <option value="fa-adjust">
      <i class="fa fa-adjust fa-5x"></i>
      fa-adjust
    </option>
    <option value="fa-tint">
      <i class="fa fa-tint fa-5x"></i>
      fa-tint
    </option>
    <option value="fa-edit">
      <i class="fa fa-edit fa-5x"></i>
      fa-edit
    </option>
    <option value="fa-pencil-square-o">
      <i class="fa fa-pencil-square-o fa-5x"></i>
      fa-pencil-square-o
    </option>
    <option value="fa-share-square-o">
      <i class="fa fa-share-square-o fa-5x"></i>
      fa-share-square-o
    </option>
    <option value="fa-arrows">
      <i class="fa fa-arrows fa-5x"></i>
      fa-arrows
    </option>
    <option value="fa-step-backward">
      <i class="fa fa-step-backward fa-5x"></i>
      fa-step-backward
    </option>
    <option value="fa-fast-backward">
      <i class="fa fa-fast-backward fa-5x"></i>
      fa-fast-backward
    </option>
    <option value="fa-play">
      <i class="fa fa-play fa-5x"></i>
      fa-play
    </option>
    <option value="fa-pause">
      <i class="fa fa-pause fa-5x"></i>
      fa-pause
    </option>
    <option value="fa-stop">
      <i class="fa fa-stop fa-5x"></i>
      fa-stop
    </option>
    <option value="fa-forward">
      <i class="fa fa-forward fa-5x"></i>
      fa-forward
    </option>
    <option value="fa-fast-forward">
      <i class="fa fa-fast-forward fa-5x"></i>
      fa-fast-forward
    </option>
    <option value="fa-step-forward">
      <i class="fa fa-step-forward fa-5x"></i>
      fa-step-forward
    </option>
    <option value="fa-eject">
      <i class="fa fa-eject fa-5x"></i>
      fa-eject
    </option>
    <option value="fa-chevron-left">
      <i class="fa fa-chevron-left fa-5x"></i>
      fa-chevron-left
    </option>
    <option value="fa-chevron-right">
      <i class="fa fa-chevron-right fa-5x"></i>
      fa-chevron-right
    </option>
    <option value="fa-plus-circle">
      <i class="fa fa-plus-circle fa-5x"></i>
      fa-plus-circle
    </option>
    <option value="fa-minus-circle">
      <i class="fa fa-minus-circle fa-5x"></i>
      fa-minus-circle
    </option>
    <option value="fa-times-circle">
      <i class="fa fa-times-circle fa-5x"></i>
      fa-times-circle
    </option>
    <option value="fa-check-circle">
      <i class="fa fa-check-circle fa-5x"></i>
      fa-check-circle
    </option>
    <option value="fa-question-circle">
      <i class="fa fa-question-circle fa-5x"></i>
      fa-question-circle
    </option>
    <option value="fa-info-circle">
      <i class="fa fa-info-circle fa-5x"></i>
      fa-info-circle
    </option>
    <option value="fa-crosshairs">
      <i class="fa fa-crosshairs fa-5x"></i>
      fa-crosshairs
    </option>
    <option value="fa-times-circle-o">
      <i class="fa fa-times-circle-o fa-5x"></i>
      fa-times-circle-o
    </option>
    <option value="fa-check-circle-o">
      <i class="fa fa-check-circle-o fa-5x"></i>
      fa-check-circle-o
    </option>
    <option value="fa-ban">
      <i class="fa fa-ban fa-5x"></i>
      fa-ban
    </option>
    <option value="fa-arrow-left">
      <i class="fa fa-arrow-left fa-5x"></i>
      fa-arrow-left
    </option>
    <option value="fa-arrow-right">
      <i class="fa fa-arrow-right fa-5x"></i>
      fa-arrow-right
    </option>
    <option value="fa-arrow-up">
      <i class="fa fa-arrow-up fa-5x"></i>
      fa-arrow-up
    </option>
    <option value="fa-arrow-down">
      <i class="fa fa-arrow-down fa-5x"></i>
      fa-arrow-down
    </option>
    <option value="fa-mail-forward">
      <i class="fa fa-mail-forward fa-5x"></i>
      fa-mail-forward
    </option>
    <option value="fa-share">
      <i class="fa fa-share fa-5x"></i>
      fa-share
    </option>
    <option value="fa-expand">
      <i class="fa fa-expand fa-5x"></i>
      fa-expand
    </option>
    <option value="fa-compress">
      <i class="fa fa-compress fa-5x"></i>
      fa-compress
    </option>
    <option value="fa-plus">
      <i class="fa fa-plus fa-5x"></i>
      fa-plus
    </option>
    <option value="fa-minus">
      <i class="fa fa-minus fa-5x"></i>
      fa-minus
    </option>
    <option value="fa-asterisk">
      <i class="fa fa-asterisk fa-5x"></i>
      fa-asterisk
    </option>
    <option value="fa-exclamation-circle">
      <i class="fa fa-exclamation-circle fa-5x"></i>
      fa-exclamation-circle
    </option>
    <option value="fa-gift">
      <i class="fa fa-gift fa-5x"></i>
      fa-gift
    </option>
    <option value="fa-leaf">
      <i class="fa fa-leaf fa-5x"></i>
      fa-leaf
    </option>
    <option value="fa-fire">
      <i class="fa fa-fire fa-5x"></i>
      fa-fire
    </option>
    <option value="fa-eye">
      <i class="fa fa-eye fa-5x"></i>
      fa-eye
    </option>
    <option value="fa-eye-slash">
      <i class="fa fa-eye-slash fa-5x"></i>
      fa-eye-slash
    </option>
    <option value="fa-warning">
      <i class="fa fa-warning fa-5x"></i>
      fa-warning
    </option>
    <option value="fa-exclamation-triangle">
      <i class="fa fa-exclamation-triangle fa-5x"></i>
      fa-exclamation-triangle
    </option>
    <option value="fa-plane">
      <i class="fa fa-plane fa-5x"></i>
      fa-plane
    </option>
    <option value="fa-calendar">
      <i class="fa fa-calendar fa-5x"></i>
      fa-calendar
    </option>
    <option value="fa-random">
      <i class="fa fa-random fa-5x"></i>
      fa-random
    </option>
    <option value="fa-comment">
      <i class="fa fa-comment fa-5x"></i>
      fa-comment
    </option>
    <option value="fa-magnet">
      <i class="fa fa-magnet fa-5x"></i>
      fa-magnet
    </option>
    <option value="fa-chevron-up">
      <i class="fa fa-chevron-up fa-5x"></i>
      fa-chevron-up
    </option>
    <option value="fa-chevron-down">
      <i class="fa fa-chevron-down fa-5x"></i>
      fa-chevron-down
    </option>
    <option value="fa-retweet">
      <i class="fa fa-retweet fa-5x"></i>
      fa-retweet
    </option>
    <option value="fa-shopping-cart">
      <i class="fa fa-shopping-cart fa-5x"></i>
      fa-shopping-cart
    </option>
    <option value="fa-folder">
      <i class="fa fa-folder fa-5x"></i>
      fa-folder
    </option>
    <option value="fa-folder-open">
      <i class="fa fa-folder-open fa-5x"></i>
      fa-folder-open
    </option>
    <option value="fa-bar-chart-o">
      <i class="fa fa-bar-chart-o fa-5x"></i>
      fa-bar-chart-o
    </option>
	  <option value="fa-arrows-v">
      <i class="fa fa-arrows-v fa-5x"></i>
      arrows-v
    </option>
    <option value="fa-arrows-h">
      <i class="fa fa-arrows-h fa-5x"></i>
      arrows-h
    </option>
    <option value="fa-twitter-square">
      <i class="fa fa-twitter-square fa-5x"></i>
      fa-twitter-square
    </option>
    <option value="fa-facebook-square">
      <i class="fa fa-facebook-square fa-5x"></i>
      fa-facebook-square
    </option>
    <option value="fa-camera-retro">
      <i class="fa fa-camera-retro fa-5x"></i>
      fa-camera-retro
    </option>
    <option value="fa-key">
      <i class="fa fa-key fa-5x"></i>
      fa-key
    </option>
    <option value="fa-gears">
      <i class="fa fa-gears fa-5x"></i>
      fa-gears
    </option>
    <option value="fa-cogs">
      <i class="fa fa-cogs fa-5x"></i>
      fa-cogs
    </option>
    <option value="fa-comments">
      <i class="fa fa-comments fa-5x"></i>
      fa-comments
    </option>
    <option value="fa-thumbs-o-up">
      <i class="fa fa-thumbs-o-up fa-5x"></i>
      fa-thumbs-o-up
    </option>
    <option value="fa-thumbs-o-down">
      <i class="fa fa-thumbs-o-down fa-5x"></i>
      fa-thumbs-o-down
    </option>
    <option value="fa-star-half">
      <i class="fa fa-star-half fa-5x"></i>
      fa-star-half
    </option>
    <option value="fa-heart-o">
      <i class="fa fa-heart-o fa-5x"></i>
      fa-heart-o
    </option>
    <option value="fa-sign-out">
      <i class="fa fa-sign-out fa-5x"></i>
      fa-sign-out
    </option>
    <option value="fa-linkedin-square">
      <i class="fa fa-linkedin-square fa-5x"></i>
      fa-linkedin-square
    </option>
    <option value="fa-thumb-tack">
      <i class="fa fa-thumb-tack fa-5x"></i>
      fa-thumb-tack
    </option>
    <option value="fa-external-link">
      <i class="fa fa-external-link fa-5x"></i>
      fa-external-link
    </option>
    <option value="fa-sign-in">
      <i class="fa fa-sign-in fa-5x"></i>
      fa-sign-in
    </option>
    <option value="fa-trophy">
      <i class="fa fa-trophy fa-5x"></i>
      fa-trophy
    </option>
    <option value="fa-github-square">
      <i class="fa fa-github-square fa-5x"></i>
      fa-github-square
    </option>
    <option value="fa-upload">
      <i class="fa fa-upload fa-5x"></i>
      fa-upload
    </option>
    <option value="fa-lemon-o">
      <i class="fa fa-lemon-o fa-5x"></i>
      fa-lemon-o
    </option>
    <option value="fa-phone">
      <i class="fa fa-phone fa-5x"></i>
      fa-phone
    </option>
    <option value="fa-square-o">
      <i class="fa fa-square-o fa-5x"></i>
      fa-square-o                
    </option>
    <option value="fa-bookmark-o">
      <i class="fa fa-bookmark-o fa-5x"></i>
    fa-bookmark-o               
    </option>
    <option value="fa-phone-square">
      <i class="fa fa-phone-square fa-5x"></i>
      fa-phone-square
    </option>
    <option value="fa-twitter">
      <i class="fa fa-twitter fa-5x"></i>
      fa-twitter
    </option>
    <option value="fa-facebook">
      <i class="fa fa-facebook fa-5x"></i>
      fa-facebook
    </option>
    <option value="fa-github">
      <i class="fa fa-github fa-5x"></i>
      fa-github
    </option>
    <option value="fa-unlock">
      <i class="fa fa-unlock fa-5x"></i>
      fa-unlock
    </option>
    <option value="fa-credit-card">
      <i class="fa fa-credit-card fa-5x"></i>
      fa-credit-card
    </option>
    <option value="fa-rss">
      <i class="fa fa-rss fa-5x"></i>
      fa-rss
    </option>
    <option value="fa-hdd-o">
      <i class="fa fa-hdd-o fa-5x"></i>
      fa-hdd-o
    </option>
    <option value="fa-bullhorn">
      <i class="fa fa-bullhorn fa-5x"></i>
      fa-bullhorn
    </option>
    <option value="fa-bell">
      <i class="fa fa-bell fa-5x"></i>
      fa-bell
    </option>
    <option value="fa-certificate">
      <i class="fa fa-certificate fa-5x"></i>
      fa-certificate
    </option>
    <option value="fa-hand-o-right">
      <i class="fa fa-hand-o-right fa-5x"></i>
      fa-hand-o-right
    </option>
    <option value="fa-hand-o-left">
      <i class="fa fa-hand-o-left fa-5x"></i>
      fa-hand-o-left
    </option>
    <option value="fa-hand-o-up">
      <i class="fa fa-hand-o-up fa-5x"></i>
      fa-hand-o-up
    </option>
    <option value="fa-hand-o-down">
      <i class="fa fa-hand-o-down fa-5x"></i>
      fa-hand-o-down
    </option>
    <option value="fa-arrow-circle-left">
      <i class="fa fa-arrow-circle-left fa-5x"></i>
      fa-arrow-circle-left
    </option>
    <option value="fa-arrow-circle-right">
      <i class="fa fa-arrow-circle-right fa-5x"></i>
      fa-arrow-circle-right
    </option>
    <option value="fa-arrow-circle-up">
      <i class="fa fa-arrow-circle-up fa-5x"></i>
      fa-arrow-circle-up
    </option>
    <option value="fa-arrow-circle-down">
      <i class="fa fa-arrow-circle-down fa-5x"></i>
      fa-arrow-circle-down
    </option>
    <option value="fa-globe">
      <i class="fa fa-globe fa-5x"></i>
      fa-globe
    </option>
    <option value="fa-tasks">
      <i class="fa fa-tasks fa-5x"></i>
      fa-tasks
    </option>
    <option value="fa-wrench">
      <i class="fa fa-wrench fa-5x"></i>
      fa-wrench
    </option>
    <option value="fa-filter">
      <i class="fa fa-filter fa-5x"></i>
      fa-filter
    </option>
    <option value="fa-briefcase">
      <i class="fa fa-briefcase fa-5x"></i>
      fa-briefcase
    </option>
    <option value="fa-arrows-alt">
      <i class="fa fa-arrows-alt fa-5x"></i>
      fa-arrows-alt
    </option>
    <option value="fa-group">
      <i class="fa fa-group fa-5x"></i>
      fa-group
    </option>
    <option value="fa-users">
     <i class="fa fa-users fa-5x"></i>
      fa-users
    </option>
    <option value="fa-chain">
      <i class="fa fa-chain fa-5x"></i>
      fa-chain
    </option>
    <option value="fa-link">
      <i class="fa fa-link fa-5x"></i>
      fa-link
    </option>
    <option value="fa-cloud">
      <i class="fa fa-cloud fa-5x"></i>
      fa-cloud
    </option>
    <option value="fa-flask">
      <i class="fa fa-flask fa-5x"></i>
      fa-flask
    </option>
    <option value="fa-cut">
      <i class="fa fa-cut fa-5x"></i>
      fa-cut
    </option>
    <option value="fa-scissors">
      <i class="fa fa-scissors fa-5x"></i>
      fa-scissors
    </option>
    <option value="fa-copy">
      <i class="fa fa-copy fa-5x"></i>
      fa-copy
    </option>
    <option value="fa-files-o">
      <i class="fa fa-files-o fa-5x"></i>
      fa-files-o
    </option>
    <option value="fa-paperclip">
      <i class="fa fa-paperclip fa-5x"></i>
      fa-paperclip
    </option>
    <option value="fa-save">
      <i class="fa fa-save fa-5x"></i>
      fa-save
    </option>
    <option value="fa-floppy-o">
      <i class="fa fa-floppy-o fa-5x"></i>
      fa-floppy-o
    </option>
    <option value="fa-square">
      <i class="fa fa-square fa-5x"></i>
      fa-square
    </option>
    <option value="fa-navicon">
      <i class="fa fa-navicon fa-5x"></i>
      fa-navicon
    </option>
    <option value="fa-reorder">
      <i class="fa fa-reorder fa-5x"></i>
      fa-reorder
    </option>
    <option value="fa-bars">
      <i class="fa fa-bars fa-5x"></i>
      fa-bars
    </option>
    <option value="fa-list-ul">
      <i class="fa fa-list-ul fa-5x"></i>
      fa-list-ul
    </option>
    <option value="fa-list-ol">
      <i class="fa fa-list-ol fa-5x"></i>
      fa-list-ol
    </option>
    <option value="fa-strikethrough">
      <i class="fa fa-strikethrough fa-5x"></i>
      fa-strikethrough
    </option>
    <option value="fa-strikethrough">
      <i class="fa fa-strikethrough fa-5x"></i>
      fa-strikethrough
    </option>
    <option value="fa-underline">
      <i class="fa fa-underline fa-5x"></i>
      fa-underline
    </option>
    <option value="fa-table">
      <i class="fa fa-table fa-5x"></i>
      fa-table
    </option>
    <option value="fa-magic">
      <i class="fa fa-magic fa-5x"></i>
      fa-magic
    </option>
    <option value="fa-truck">
      <i class="fa fa-truck fa-5x"></i>
      fa-truck
    </option>
    <option value="fa-pinterest">
      <i class="fa fa-pinterest fa-5x"></i>
      fa-pinterest
    </option>
    <option value="fa-pinterest-square">
      <i class="fa fa-pinterest-square fa-5x"></i>
      fa-pinterest-square
    </option>
    <option value="fa-google-plus-square">
      <i class="fa fa-google-plus-square fa-5x"></i>
      fa-google-plus-square
    </option>
    <option value="fa-google-plus">
      <i class="fa fa-google-plus fa-5x"></i>
      fa-google-plus
    </option>
    <option value="fa-money">
      <i class="fa fa-money fa-5x"></i>
      fa-money
    </option>
    <option value="fa-caret-down">
      <i class="fa fa-caret-down fa-5x"></i>
      fa-caret-down
    </option>
    <option value="fa-caret-up">
      <i class="fa fa-caret-up fa-5x"></i>
      fa-caret-up
    </option>
    <option value="fa-caret-left">
      <i class="fa fa-caret-left fa-5x"></i>
      fa-caret-left
    </option>
    <option value="fa-caret-right">
      <i class="fa fa-caret-right fa-5x"></i>
      fa-caret-right
    </option>
    <option value="fa-columns">
      <i class="fa fa-columns fa-5x"></i>
      fa-columns
    </option>
    <option value="fa-unsorted">
      <i class="fa fa-unsorted fa-5x"></i>
      fa-unsorted
    </option>
    <option value="fa-sort">
      <i class="fa fa-sort fa-5x"></i>
      fa-sort
    </option>
    <option value="fa-sort-down">
      <i class="fa fa-sort-down fa-5x"></i>
      fa-sort-down
    </option>
    <option value="fa-sort-desc">
      <i class="fa fa-sort-desc fa-5x"></i>
      fa-sort-desc
    </option>
    <option value="fa-sort-up">
      <i class="fa fa-sort-up fa-5x"></i>
      fa-sort-up
    </option>
    <option value="fa-sort-asc">
      <i class="fa fa-sort-asc fa-5x"></i>
      fa-sort-asc
    </option>
    <option value="fa-rotate-left">
      <i class="fa fa-rotate-left fa-5x"></i>
      fa-rotate-left
    </option>
    <option value="fa-undo">
      <i class="fa fa-undo fa-5x"></i>
      fa-undo
    </option>
    <option value="fa-envelope">
      <i class="fa fa-envelope fa-5x"></i>
      fa-envelope
    </option>
    <option value="fa-legal">
      <i class="fa fa-legal fa-5x"></i>
      fa-legal
    </option>
    <option value="fa-gavel">
      <i class="fa fa-gavel fa-5x"></i>
      fa-gavel
    </option>
    <option value="fa-dashboard">
      <i class="fa fa-dashboard fa-5x"></i>
      fa-dashboard
    </option>
    <option value="fa-tachometer">
      <i class="fa fa-tachometer fa-5x"></i>
      fa-tachometer
    </option>
    <option value="fa-comment-o">
      <i class="fa fa-comment-o fa-5x"></i>
      fa-comment-o
    </option>
    <option value="fa-comments-o">
      <i class="fa fa-comments-o fa-5x"></i>
      fa-comments-o
    </option>
    <option value="fa-flash">
      <i class="fa fa-flash fa-5x"></i>
      fa-flash
    </option>
    <option value="fa-bolt">
      <i class="fa fa-bolt fa-5x"></i>
      fa-bolt
    </option>
    <option value="fa-sitemap">
      <i class="fa fa-sitemap fa-5x"></i>
      fa-sitemap
    </option>
    <option value="fa-umbrella">
      <i class="fa fa-umbrella fa-5x"></i>
      fa-umbrella
    </option>
    <option value="fa-paste">
      <i class="fa fa-paste fa-5x"></i>
      fa-paste
    </option>
    <option value="fa-clipboard">
      <i class="fa fa-clipboard fa-5x"></i>
      fa-clipboard
    </option>
    <option value="fa-lightbulb-o">
      <i class="fa fa-lightbulb-o fa-5x"></i>
      fa-lightbulb-o
    </option>
    <option value="fa-exchange">
      <i class="fa fa-exchange fa-5x"></i>
      fa-exchange
    </option>
    <option value="fa-cloud-download">
      <i class="fa fa-cloud-download fa-5x"></i>
      fa-cloud-download
    </option>
    <option value="fa-cloud-upload">
      <i class="fa fa-cloud-upload fa-5x"></i>
      fa-cloud-upload
    </option>
    <option value="fa-user-md">
      <i class="fa fa-user-md fa-5x"></i>
      fa-user-md
    </option>
    <option value="fa-stethoscope">
      <i class="fa fa-stethoscope fa-5x"></i>
      fa-stethoscope
    </option>
    <option value="fa-suitcase">
      <i class="fa fa-suitcase fa-5x"></i>
      fa-suitcase
    </option>
    <option value="fa-bell-o">
      <i class="fa fa-bell-o fa-5x"></i>
      fa-bell-o
    </option>
    <option value="fa-coffee">
      <i class="fa fa-coffee fa-5x"></i>
      fa-coffee
    </option>
    <option value="fa-cutlery">
      <i class="fa fa-cutlery fa-5x"></i>
      fa-cutlery
    </option>
    <option value="fa-file-text-o">
      <i class="fa fa-file-text-o fa-5x"></i>
      fa-file-text-o
    </option>
    <option value="fa-building-o">
      <i class="fa fa-building-o fa-5x"></i>
      fa-building-o
    </option>
    <option value="fa-hospital-o">
      <i class="fa fa-hospital-o fa-5x"></i>
      fa-hospital-o
    </option>
    <option value="fa-ambulance">
      <i class="fa fa-ambulance fa-5x"></i>
      fa-ambulance
    </option>
    <option value="fa-medkit">
      <i class="fa fa-medkit fa-5x"></i>
      fa-medkit
    </option>
    <option value="fa-fighter-jet">
      <i class="fa fa-fighter-jet fa-5x"></i>
      fa-fighter-jet
    </option>
    <option value="fa-beer">
      <i class="fa fa-beer fa-5x"></i>
      fa-beer
    </option>
    <option value="fa-h-square">
      <i class="fa fa-h-square fa-5x"></i>
      fa-h-square
    </option>
    <option value="fa-plus-square">
      <i class="fa fa-plus-square fa-5x"></i>
      fa-plus-square
    </option>
    <option value="fa-angle-double-left">
      <i class="fa fa-angle-double-left fa-5x"></i>
      fa-angle-double-left
    </option>
    <option value="fa-angle-double-right">
      <i class="fa fa-angle-double-right fa-5x"></i>
      fa-angle-double-right
    </option>
    <option value="fa-angle-double-up">
      <i class="fa fa-angle-double-up fa-5x"></i>
      fa-angle-double-up
    </option>
    <option value="fa-angle-double-down">
      <i class="fa fa-angle-double-down fa-5x"></i>
      fa-angle-double-down
    </option>
    <option value="fa-angle-left">
      <i class="fa fa-angle-left fa-5x"></i>
      fa-angle-left
    </option>
    <option value="fa-angle-right">
      <i class="fa fa-angle-right fa-5x"></i>
      fa-angle-right
    </option>
    <option value="fa-angle-up">
      <i class="fa fa-angle-up fa-5x"></i>
      fa-angle-up
    </option>
    <option value="fa-angle-down">
      <i class="fa fa-angle-down fa-5x"></i>
      fa-angle-down
    </option>
    <option value="fa-desktop">
      <i class="fa fa-desktop fa-5x"></i>
      fa-desktop
    </option>
    <option value="fa-laptop">
      <i class="fa fa-laptop fa-5x"></i>
      fa-laptop
    </option>
    <option value="fa-tablet">
      <i class="fa fa-tablet fa-5x"></i>
      fa-tablet
    </option>
    <option value="fa-mobile-phone">
      <i class="fa fa-mobile-phone fa-5x"></i>
      fa-mobile-phone
    </option>
    <option value="fa-mobile">
      <i class="fa fa-mobile fa-5x"></i>
      fa-mobile
    </option>
    <option value="fa-circle-o">
      <i class="fa fa-circle-o fa-5x"></i>
      fa-circle-o
    </option>
    <option value="fa-quote-left">
      <i class="fa fa-quote-left fa-5x"></i>
      fa-quote-left
    </option>
    <option value="fa-quote-right">
      <i class="fa fa-quote-right fa-5x"></i>
      fa-quote-right
    </option>
    <option value="fa-spinner">
      <i class="fa fa-spinner fa-5x"></i>
      fa-spinner
    </option>
    <option value="fa-circle">
      <i class="fa fa-circle fa-5x"></i>
      fa-circle
    </option>
    <option value="fa-mail-reply">
      <i class="fa fa-mail-reply fa-5x"></i>
      fa-mail-reply
    </option>
    <option value="fa-reply">
      <i class="fa fa-reply fa-5x"></i>
      fa-reply
    </option>
    <option value="fa-github-alt">
      <i class="fa fa-github-alt fa-5x"></i>
      fa-github-alt
    </option>
    <option value="fa-folder-o">
      <i class="fa fa-folder-o fa-5x"></i>
      fa-folder-o
    </option>
    <option value="fa-folder-open-o">
      <i class="fa fa-folder-open-o fa-5x"></i>
      fa-folder-open-o
    </option>
    <option value="fa-smile-o">
      <i class="fa fa-smile-o fa-5x"></i>
      fa-smile-o
    </option>
    <option value="fa-frown-o">
      <i class="fa fa-frown-o fa-5x"></i>
      fa-frown-o
    </option>
    <option value="fa-meh-o">
      <i class="fa fa-meh-o fa-5x"></i>
      fa-meh-o
    </option>
    <option value="fa-gamepad">
      <i class="fa fa-gamepad fa-5x"></i>
      fa-gamepad
    </option>
    <option value="fa-keyboard-o">
      <i class="fa fa-keyboard-o fa-5x"></i>
      fa-keyboard-o
    </option>
    <option value="fa-flag-o">
      <i class="fa fa-flag-o fa-5x"></i>
      fa-flag-o
    </option>
    <option value="fa-flag-checkered">
      <i class="fa fa-flag-checkered fa-5x"></i>
      fa-flag-checkered
    </option>
    <option value="fa-terminal">
      <i class="fa fa-terminal fa-5x"></i>
      fa-terminal
    </option>
    <option value="fa-code">
      <i class="fa fa-code fa-5x"></i>
      fa-code
    </option>
    <option value="fa-mail-reply-all">
      <i class="fa fa-mail-reply-all fa-5x"></i>
      fa-mail-reply-all
    </option>
    <option value="fa-reply-all">
      <i class="fa fa-reply-all fa-5x"></i>
      fa-reply-all
    </option>
    <option value="fa-star-half-empty">
      <i class="fa fa-star-half-empty fa-5x"></i>
      fa-star-half-empty
    </option>
    <option value="fa-star-half-full">
      <i class="fa fa-star-half-full fa-5x"></i>
      fa-star-half-full
    </option>
    <option value="fa-star-half-o">
      <i class="fa fa-star-half-o fa-5x"></i>
      fa-star-half-o
    </option>
    <option value="fa-location-arrow">
      <i class="fa fa-location-arrow fa-5x"></i>
      fa-location-arrow
    </option>
    <option value="fa-crop">
      <i class="fa fa-crop fa-5x"></i>
      fa-crop
    </option>
    <option value="fa-code-fork">
      <i class="fa fa-code-fork fa-5x"></i>
      fa-code-fork
    </option>
    <option value="fa-unlink">
      <i class="fa fa-unlink fa-5x"></i>
      fa-unlink
    </option>
    <option value="fa-chain-broken">
      <i class="fa fa-chain-broken fa-5x"></i>
      fa-chain-broken
    </option>
    <option value="fa-question">
      <i class="fa fa-question fa-5x"></i>
      fa-question
    </option>
    <option value="fa-info">
      <i class="fa fa-info fa-5x"></i>
      fa-info
    </option>
    <option value="fa-exclamation">
      <i class="fa fa-exclamation fa-5x"></i>
      fa-exclamation
    </option>
    <option value="fa-superscript">
      <i class="fa fa-superscript fa-5x"></i>
      fa-superscript
    </option>
    <option value="fa-subscript">
      <i class="fa fa-subscript fa-5x"></i>
      fa-subscript
    </option>
    <option value="fa-eraser">
      <i class="fa fa-eraser fa-5x"></i>
      fa-eraser
    </option>
    <option value="fa-puzzle-piece">
      <i class="fa fa-puzzle-piece fa-5x"></i>
      fa-puzzle-piece
    </option>
    <option value="fa-microphone">
      <i class="fa fa-microphone fa-5x"></i>
      fa-microphone
    </option>
    <option value="fa-microphone-slash">
      <i class="fa fa-microphone-slash fa-5x"></i>
      fa-microphone-slash
    </option>
    <option value="fa-shield">
      <i class="fa fa-shield fa-5x"></i>
      fa-shield
    </option>
    <option value="fa-calendar-o">
      <i class="fa fa-calendar-o fa-5x"></i>
      fa-calendar-o
    </option>
    <option value="fa-fire-extinguisher">
      <i class="fa fa-fire-extinguisher fa-5x"></i>
      fa-fire-extinguisher
    </option>
    <option value="fa-rocket">
      <i class="fa fa-rocket fa-5x"></i>
      fa-rocket
    </option>
    <option value="fa-maxcdn">
      <i class="fa fa-maxcdn fa-5x"></i>
      fa-maxcdn
    </option>
    <option value="fa-chevron-circle-left">
      <i class="fa fa-chevron-circle-left fa-5x"></i>
      fa-chevron-circle-left
    </option>
    <option value="fa-chevron-circle-right">
      <i class="fa fa-chevron-circle-right fa-5x"></i>
      fa-chevron-circle-right
    </option>
    <option value="fa-chevron-circle-up">
      <i class="fa fa-chevron-circle-up fa-5x"></i>
      fa-chevron-circle-up
    </option>
    <option value="fa-chevron-circle-down">
      <i class="fa fa-chevron-circle-down fa-5x"></i>
      fa-chevron-circle-down
    </option>
    <option value="fa-html5">
      <i class="fa fa-html5 fa-5x"></i>
      fa-html5
    </option>
    <option value="fa-css3">
      <i class="fa fa-css3 fa-5x"></i>
      fa-css3
    </option>
    <option value="fa-anchor">
      <i class="fa fa-anchor fa-5x"></i>
      fa-anchor
    </option>
    <option value="fa-unlock-alt">
      <i class="fa fa-unlock-alt fa-5x"></i>
      fa-unlock-alt
    </option>
    <option value="fa-bullseye">
      <i class="fa fa-bullseye fa-5x"></i>
      fa-bullseye
    </option>
    <option value="fa-ellipsis-h">
      <i class="fa fa-ellipsis-h fa-5x"></i>
      fa-ellipsis-h:
    </option>
    <option value="fa-ellipsis-v">
      <i class="fa fa-ellipsis-v fa-5x"></i>
      fa-ellipsis-v
    </option>
    <option value="fa-rss-square">
      <i class="fa fa-rss-square fa-5x"></i>
      fa-rss-square
    </option>
    <option value="fa-play-circle">
      <i class="fa fa-play-circle fa-5x"></i>
      fa-play-circle
    </option>
    <option value="fa-ticket">
      <i class="fa fa-ticket fa-5x"></i>
      fa-ticket
    </option>
    <option value="fa-minus-square">
      <i class="fa fa-minus-square fa-5x"></i>
      fa-minus-square
    </option>
    <option value="fa-minus-square-o">
      <i class="fa fa-minus-square-o fa-5x"></i>
      fa-minus-square-o
    </option>
    <option value="fa-level-up">
      <i class="fa fa-level-up fa-5x"></i>
      fa-level-up
    </option>
    <option value="fa-level-down">
      <i class="fa fa-level-down fa-5x"></i>
      fa-level-down
    </option>
    <option value="fa-check-square">
      <i class="fa fa-check-square fa-5x"></i>
      fa-check-square
    </option>
    <option value="fa-pencil-square">
      <i class="fa fa-pencil-square fa-5x"></i>
      fa-pencil-square
    </option>
    <option value="fa-external-link-square">
      <i class="fa fa-external-link-square fa-5x"></i>
      fa-external-link-square
    </option>
    <option value="fa-share-square">
      <i class="fa fa-share-square fa-5x"></i>
      fa-share-square
    </option>
    <option value="fa-compass">
      <i class="fa fa-compass fa-5x"></i>
      fa-compass
    </option>
    <option value="fa-toggle-down">
      <i class="fa fa-toggle-down fa-5x"></i>
      fa-toggle-down
    </option>
    <option value="fa-caret-square-o-down">
      <i class="fa fa-caret-square-o-down fa-5x"></i>
      fa-caret-square-o-down
    </option>
    <option value="fa-toggle-up">
      <i class="fa fa-toggle-up fa-5x"></i>
      fa-toggle-up
    </option>
    <option value="fa-caret-square-o-up">
      <i class="fa fa-caret-square-o-up fa-5x"></i>
      fa-caret-square-o-up
    </option>
    <option value="fa-toggle-right">
      <i class="fa fa-toggle-right fa-5x"></i>
      fa-toggle-right
    </option>
    <option value="fa-caret-square-o-right">
      <i class="fa fa-caret-square-o-right fa-5x"></i>
      fa-caret-square-o-right
    </option>
    <option value="fa-euro">
      <i class="fa fa-euro fa-5x"></i>
      fa-euro
    </option>
    <option value="fa-eur">
      <i class="fa fa-eur fa-5x"></i>
      fa-eur
    </option>
    <option value="fa-gbp">
      <i class="fa fa-gbp fa-5x"></i>
      fa-gbp
    </option>
    <option value="fa-dollar">
      <i class="fa fa-dollar fa-5x"></i>
      fa-dollar
    </option>
    <option value="fa-usd">
      <i class="fa fa-usd fa-5x"></i>
      fa-usd
    </option>
    <option value="fa-rupee">
      <i class="fa fa-rupee fa-5x"></i>
      fa-rupee
    </option>
    <option value="fa-inr">
      <i class="fa fa-inr fa-5x"></i>
      fa-inr
    </option>
    <option value="fa-cny">
      <i class="fa fa-cny fa-5x"></i>
      fa-cny
    </option>
    <option value="fa-rmb">
      <i class="fa fa-rmb fa-5x"></i>
      fa-rmb
    </option>
    <option value="fa-yen">
      <i class="fa fa-yen fa-5x"></i>
      fa-yen
    </option>
    <option value="fa-jpy">
      <i class="fa fa-jpy fa-5x"></i>
      fa-jpy
    </option>
    <option value="fa-ruble">
      <i class="fa fa-ruble fa-5x"></i>
      fa-ruble
    </option>
    <option value="fa-rouble">
      <i class="fa fa-rouble fa-5x"></i>
      fa-rouble
    </option>
    <option value="fa-rub">
      <i class="fa fa-rub fa-5x"></i>
      fa-rub
    </option>
    <option value="fa-won">
      <i class="fa fa-won fa-5x"></i>
      fa-won
    </option>
    <option value="fa-bitcoin">
      <i class="fa fa-bitcoin fa-5x"></i>
      fa-bitcoin
    </option>
    <option value="fa-btc">
      <i class="fa fa-btc fa-5x"></i>
      fa-btc
    </option>
    <option value="fa-file">
      <i class="fa fa-file fa-5x"></i>
      fa-file
    </option>
    <option value="fa-file-text">
      <i class="fa fa-file-text fa-5x"></i>
      fa-file-text
    </option>
    <option value="fa-sort-alpha-asc">
      <i class="fa fa-sort-alpha-asc fa-5x"></i>
      fa-sort-alpha-asc
    </option>
    <option value="fa-sort-alpha-desc">
      <i class="fa fa-sort-alpha-desc fa-5x"></i>
      fa-sort-alpha-desc
    </option>
    <option value="fa-sort-amount-asc">
      <i class="fa fa-sort-amount-asc fa-5x"></i>
      fa-sort-amount-asc
    </option>
    <option value="fa-sort-amount-desc">
      <i class="fa fa-sort-amount-desc fa-5x"></i>
      fa-sort-amount-desc
    </option>
    <option value="fa-sort-numeric-asc">
      <i class="fa fa-sort-numeric-asc fa-5x"></i>
      fa-sort-numeric-asc
    </option>
    <option value="fa-sort-numeric-desc">
      <i class="fa fa-sort-numeric-desc fa-5x"></i>
      fa-sort-numeric-desc
    </option>
    <option value="fa-thumbs-up">
      <i class="fa fa-thumbs-up fa-5x"></i>
      fa-thumbs-up
    </option>
    <option value="fa-thumbs-down">
      <i class="fa fa-thumbs-down fa-5x"></i>
      fa-thumbs-down
    </option>
    <option value="fa-youtube-square">
      <i class="fa fa-youtube-square fa-5x"></i>
      fa-youtube-square
    </option>
    <option value="fa-youtube">
      <i class="fa fa-youtube fa-5x"></i>
      fa-youtube
    </option>
    <option value="fa-xing">
      <i class="fa fa-xing fa-5x"></i>
      fa-xing
    </option>
    <option value="fa-xing-square">
      <i class="fa fa-xing-square fa-5x"></i>
      fa-xing-square
    </option>
    <option value="fa-youtube-play">
      <i class="fa fa-youtube-play fa-5x"></i>
      fa-youtube-play
    </option>
    <option value="fa-dropbox">
      <i class="fa fa-dropbox fa-5x"></i>
      fa-dropbox
    </option>
    <option value="fa-stack-overflow">
      <i class="fa fa-stack-overflow fa-5x"></i>
      fa-stack-overflow
    </option>
    <option value="fa-instagram">
      <i class="fa fa-instagram fa-5x"></i>
      fa-instagram
    </option>
    <option value="fa-flickr">
      <i class="fa fa-flickr fa-5x"></i>
      fa-flickr
    </option>
    <option value="fa-adn">
      <i class="fa fa-adn fa-5x"></i>
      fa-adn
    </option>
    <option value="fa-bitbucket">
      <i class="fa fa-bitbucket fa-5x"></i>
      fa-bitbucket
    </option>
    <option value="fa-bitbucket-square">
      <i class="fa fa-bitbucket-square fa-5x"></i>
      fa-bitbucket-square
    </option>
    <option value="fa-tumblr">
      <i class="fa fa-tumblr fa-5x"></i>
      fa-tumblr
    </option>
    <option value="fa-tumblr-square">
      <i class="fa fa-tumblr-square fa-5x"></i>
      fa-tumblr-square
    </option>
    <option value="fa-long-arrow-down">
      <i class="fa fa-long-arrow-down fa-5x"></i>
      fa-long-arrow-down
    </option>
    <option value="fa-long-arrow-up">
      <i class="fa fa-long-arrow-up fa-5x"></i>
      fa-long-arrow-up
    </option>
    <option value="fa-long-arrow-left">
      <i class="fa fa-long-arrow-left fa-5x"></i>
      fa-long-arrow-left
    </option>
    <option value="fa-long-arrow-right">
      <i class="fa fa-long-arrow-right fa-5x"></i>
      fa-long-arrow-right
    </option>
    <option value="fa-apple">
      <i class="fa fa-apple fa-5x"></i>
      fa-apple
    </option>
    <option value="fa-windows">
      <i class="fa fa-windows fa-5x"></i>
      fa-windows
    </option>
    <option value="fa-android">
      <i class="fa fa-android fa-5x"></i>
      fa-android
    </option>
    <option value="fa-linux">
      <i class="fa fa-linux fa-5x"></i>
      fa-linux
    </option>
    <option value="fa-dribbble">
      <i class="fa fa-dribbble fa-5x"></i>
      fa-dribbble
    </option>
    <option value="fa-skype">
      <i class="fa fa-skype fa-5x"></i>
      fa-skype
    </option>
    <option value="fa-foursquare">
      <i class="fa fa-foursquare fa-5x"></i>
      fa-foursquare
    </option>
    <option value="fa-trello">
      <i class="fa fa-trello fa-5x"></i>
      fa-trello
    </option>
    <option value="fa-female">
      <i class="fa fa-female fa-5x"></i>
      fa-female
    </option>
    <option value="fa-male">
      <i class="fa fa-male fa-5x"></i>
      fa-male
    </option>
    <option value="fa-gittip">
      <i class="fa fa-gittip fa-5x"></i>
      fa-gittip
    </option>
    <option value="fa-sun-o">
      <i class="fa fa-sun-o fa-5x"></i>
      fa-sun-o
    </option>
    <option value="fa-moon-o">
      <i class="fa fa-moon-o fa-5x"></i>
      fa-moon-o
    </option>
    <option value="fa-archive">
      <i class="fa fa-archive fa-5x"></i>
      fa-archive
    </option>
    <option value="fa-bug">
      <i class="fa fa-bug fa-5x"></i>
      fa-bug
    </option>
    <option value="fa-vk">
      <i class="fa fa-vk fa-5x"></i>
      fa-vk
    </option>
    <option value="fa-weibo">
      <i class="fa fa-weibo fa-5x"></i>
      fa-weibo
    </option>
    <option value="fa-renren">
      <i class="fa fa-renren fa-5x"></i>
      fa-renren
    </option>
    <option value="fa-pagelines">
      <i class="fa fa-pagelines fa-5x"></i>
      fa-pagelines
    </option>
    <option value="fa-stack-exchange">
      <i class="fa fa-stack-exchange fa-5x"></i>
      fa-stack-exchange
    </option>
    <option value="fa-arrow-circle-o-right">
      <i class="fa fa-arrow-circle-o-right fa-5x"></i>
      fa-arrow-circle-o-right
    </option>
    <option value="fa-arrow-circle-o-left">
      <i class="fa fa-arrow-circle-o-left fa-5x"></i>
      fa-arrow-circle-o-left
    </option>
    <option value="fa-toggle-left">
      <i class="fa fa-toggle-left fa-5x"></i>
      fa-toggle-left
    </option>
    <option value="fa-caret-square-o-left">
      <i class="fa fa-caret-square-o-left fa-5x"></i>
      fa-caret-square-o-left
    </option>
    <option value="fa-dot-circle-o">
      <i class="fa fa-dot-circle-o fa-5x"></i>
      fa-dot-circle-o
    </option>
    <option value="fa-wheelchair">
      <i class="fa fa-wheelchair fa-5x"></i>
      fa-wheelchair
    </option>
    <option value="fa-vimeo-square">
      <i class="fa fa-vimeo-square fa-5x"></i>
      fa-vimeo-square
    </option>
    <option value="fa-turkish-lira">
      <i class="fa fa-turkish-lira fa-5x"></i>
      fa-turkish-lira
    </option>
    <option value="fa-try">
      <i class="fa fa-try fa-5x"></i>
      fa-try
    </option>
    <option value="fa-plus-square-o">
      <i class="fa fa-plus-square-o fa-5x"></i>
      fa-plus-square-o
    </option>
    <option value="fa-space-shuttle">
      <i class="fa fa-space-shuttle fa-5x"></i>
      fa-space-shuttle
    </option>
    <option value="fa-slack ">
      <i class="fa fa-slack fa-5x"></i>
      fa-slack
    </option>
    <option value="fa-envelope-square">
      <i class="fa fa-envelope-square fa-5x"></i>
      fa-envelope-square
    </option>
    <option value="fa-wordpress">
      <i class="fa fa-wordpress fa-5x"></i>
      fa-wordpress
    </option>
    <option value="fa-openid">
      <i class="fa fa-openid fa-5x"></i>
      fa-openid
    </option>
    <option value="fa-institution">
      <i class="fa fa-institution fa-5x"></i>
      fa-institution
    </option>
    <option value="fa-bank">
      <i class="fa fa-bank fa-5x"></i>
      fa-bank
    </option>
    <option value="fa-university">
      <i class="fa fa-university fa-5x"></i>
      fa-university
    </option>
    <option value="fa-mortar-board">
      <i class="fa fa-mortar-board fa-5x"></i>
      fa-mortar-board
    </option>
    <option value="fa-graduation-cap">
      <i class="fa fa-graduation-cap fa-5x"></i>
      fa-graduation-cap
    </option>
    <option value="fa-yahoo">
      <i class="fa fa-yahoo fa-5x"></i>
      fa-yahoo
    </option>
    <option value="fa-google">
      <i class="fa fa-google fa-5x"></i>
      fa-google
    </option>
    <option value="fa-reddit">
      <i class="fa fa-reddit fa-5x"></i>
      fa-reddit
    </option>
    <option value="fa-reddit-square">
      <i class="fa fa-reddit-square fa-5x"></i>
      fa-reddit-square
    </option>
    <option value="fa-stumbleupon-circle">
      <i class="fa fa-stumbleupon-circle fa-5x"></i>
      fa-stumbleupon-circle
    </option>
    <option value="fa-stumbleupon">
      <i class="fa fa-stumbleupon fa-5x"></i>
      fa-stumbleupon
    </option>
    <option value="fa-delicious">
      <i class="fa fa-delicious fa-5x"></i>
      fa-delicious
    </option>
    <option value="fa-digg">
      <i class="fa fa-digg fa-5x"></i>
      fa-digg
    </option>
    <option value="fa-pied-piper-square">
      <i class="fa fa-pied-piper-square fa-5x"></i>
      fa-pied-piper-square
    </option>
    <option value="fa-pied-piper">
      <i class="fa fa-pied-piper fa-5x"></i>
      fa-pied-piper
    </option>
    <option value="fa-pied-piper-alt">
      <i class="fa fa-pied-piper-alt fa-5x"></i>
      fa-pied-piper-alt
    </option>
    <option value="fa-drupal">
      <i class="fa fa-drupal fa-5x"></i>
      fa-drupal
    </option>
    <option value="fa-joomla">
      <i class="fa fa-joomla fa-5x"></i>
      fa-joomla
    </option>
    <option value="fa-language">
      <i class="fa fa-language fa-5x"></i>
      fa-language
    </option>
    <option value="fa-fax">
      <i class="fa fa-fax fa-5x"></i>
      fa-fax
    </option>
    <option value="fa-building">
      <i class="fa fa-building fa-5x"></i>
      fa-building
    </option>
    <option value="fa-child">
      <i class="fa fa-child fa-5x"></i>
      fa-child
    </option>
    <option value="fa-paw">
      <i class="fa fa-paw fa-5x"></i>
      fa-paw
    </option>
    <option value="fa-spoon">
      <i class="fa fa-spoon fa-5x"></i>
      fa-spoon
    </option>
    <option value="fa-cube">
      <i class="fa fa-cube fa-5x"></i>
      fa-cube
    </option>
    <option value="fa-cubes">
      <i class="fa fa-cubes fa-5x"></i>
      fa-cubes
    </option>
    <option value="fa-behance">
      <i class="fa fa-behance fa-5x"></i>
      fa-behance
    </option>
    <option value="fa-behance-square">
      <i class="fa fa-behance-square fa-5x"></i>
      fa-behance-square
    </option>
    <option value="fa-steam">
      <i class="fa fa-steam fa-5x"></i>
      fa-steam
    </option>
    <option value="fa-steam-square">
      <i class="fa fa-steam-square fa-5x"></i>
      fa-steam-square
    </option>
    <option value="fa-recycle">
      <i class="fa fa-recycle fa-5x"></i>
      fa-recycle
    </option>
    <option value="fa-automobile">
      <i class="fa fa-automobile fa-5x"></i>
      fa-automobile
    </option>
    <option value="fa-cab">
      <i class="fa fa-cab fa-5x"></i>
      fa-cab
    </option>
    <option value="fa-taxi">
      <i class="fa fa-taxi fa-5x"></i>
      fa-taxi
    </option>
    <option value="fa-tree">
      <i class="fa fa-tree fa-5x"></i>
      fa-tree
    </option>
    <option value="fa-spotify">
      <i class="fa fa-spotify fa-5x"></i>
      fa-spotify
    </option>
    <option value="fa-deviantart">
      <i class="fa fa-deviantart fa-5x"></i>
      fa-deviantart
    </option>
    <option value="fa-soundcloud">
      <i class="fa fa-soundcloud fa-5x"></i>
      fa-soundcloud
    </option>
    <option value="fa-database">
      <i class="fa fa-database fa-5x"></i>
      fa-database
    </option>
    <option value="fa-file-pdf-o">
      <i class="fa fa-file-pdf-o fa-5x"></i>
      fa-file-pdf-o
    </option>
    <option value="fa-file-word-o">
      <i class="fa fa-file-word-o fa-5x"></i>
      fa-file-word-o
    </option>
    <option value="fa-file-excel-o">
      <i class="fa fa-file-excel-o fa-5x"></i>
      fa-file-excel-o
    </option>
    <option value="fa-file-powerpoint-o">
      <i class="fa fa-file-powerpoint-o fa-5x"></i>
      fa-file-powerpoint-o
    </option>
    <option value="fa-file-photo-o">
      <i class="fa fa-file-photo-o fa-5x"></i>
      fa-file-photo-o
    </option>
    <option value="fa-file-picture-o">
      <i class="fa fa-file-picture-o fa-5x"></i>
      fa-file-picture-o
    </option>
    <option value="fa-file-image-o">
      <i class="fa fa-file-image-o fa-5x"></i>
      fa-file-image-o
    </option>
    <option value="fa-file-zip-o">
      <i class="fa fa-file-zip-o fa-5x"></i>
      fa-file-zip-o
    </option>
    <option value="fa-file-archive-o">
      <i class="fa fa-file-archive-o fa-5x"></i>
      fa-file-archive-o
    </option>
    <option value="fa-file-sound-o">
      <i class="fa fa-file-sound-o fa-5x"></i>
      fa-file-sound-o
    </option>
    <option value="fa-file-audio-o">
      <i class="fa fa-file-audio-o fa-5x"></i>
      fa-file-audio-o
    </option>
    <option value="fa-file-movie-o">
      <i class="fa fa-file-movie-o fa-5x"></i>
      fa-file-movie-o
    </option>
    <option value="fa-file-video-o">
      <i class="fa fa-file-video-o fa-5x"></i>
      fa-file-video-o
    </option>
    <option value="fa-file-code-o">
      <i class="fa fa-file-code-o fa-5x"></i>
      fa-file-code-o
    </option>
    <option value="fa-vine">
      <i class="fa fa-vine fa-5x"></i>
      fa-vine
    </option>
    <option value="fa-codepen">
      <i class="fa fa-codepen fa-5x"></i>
      fa-codepen
    </option>
    <option value="fa-jsfiddle">
      <i class="fa fa-jsfiddle fa-5x"></i>
      fa-jsfiddle
    </option>
    <option value="fa-life-bouy">
      <i class="fa fa-life-bouy fa-5x"></i>
      fa-life-bouy
    </option>
    <option value="fa-life-saver">
      <i class="fa fa-life-saver fa-5x"></i>
      fa-life-saver
    </option>
    <option value="fa-support">
      <i class="fa fa-support fa-5x"></i>
      fa-support
    </option>
    <option value="fa-life-ring">
      <i class="fa fa-life-ring fa-5x"></i>
      fa-life-ring
    </option>
    <option value="fa-circle-o-notch">
      <i class="fa fa-circle-o-notch fa-5x"></i>
      fa-circle-o-notch
    </option>
    <option value="fa-ra">
      <i class="fa fa-ra fa-5x"></i>
      fa-ra
    </option>
    <option value="fa-rebel">
      <i class="fa fa-rebel fa-5x"></i>
      fa-rebel
    </option>
    <option value="fa-ge">
      <i class="fa fa-ge fa-5x"></i>
      fa-ge
    </option>
    <option value="fa-empire">
      <i class="fa fa-empire fa-5x"></i>
      fa-empire
    </option>
    <option value="fa-git-square">
      <i class="fa fa-git-square fa-5x"></i>
      fa-git-square
    </option>
    <option value="fa-git">
      <i class="fa fa-git fa-5x"></i>
      fa-git
    </option>
    <option value="fa-hacker-news">
      <i class="fa fa-hacker-news fa-5x"></i>
      fa-hacker-news
    </option>
    <option value="fa-tencent-weibo">
      <i class="fa fa-tencent-weibo fa-5x"></i>
      fa-tencent-weibo
    </option>
    <option value="fa-qq">
      <i class="fa fa-qq fa-5x"></i>
      fa-qq
    </option>
    <option value="fa-wechat">
      <i class="fa fa-wechat fa-5x"></i>
      fa-wechat
    </option>
    <option value="fa-weixin">
      <i class="fa fa-weixin fa-5x"></i>
      fa-weixin
    </option>
    <option value="fa-send">
      <i class="fa fa-send fa-5x"></i>
      fa-send
    </option>
    <option value="fa fa-paper-plane">
      <i class="fa fa-paper-plane fa-5x"></i>
      fa-paper-plane
    </option>
    <option value="fa-send-o">
      <i class="fa fa-send-o fa-5x"></i>
      fa-send-o
    </option>
    <option value="fa-paper-plane-o">
      <i class="fa fa-paper-plane-o fa-5x"></i>
      fa-paper-plane-o
    </option>
    <option value="fa-history">
      <i class="fa fa-history fa-5x"></i>
      fa-history
    </option>
    <option value="fa-circle-thin">
      <i class="fa fa-circle-thin fa-5x"></i>
      fa-circle-thin
    </option>
    <option value="fa-header">
      <i class="fa fa-header fa-5x"></i>
      fa-header
    </option>
    <option value="fa-paragraph">
      <i class="fa fa-paragraph fa-5x"></i>
      fa-paragraph
    </option>
    <option value="fa-sliders">
      <i class="fa fa-sliders fa-5x"></i>
      fa-sliders
    </option>
   	<option value="fa-share-alt">
      <i class="fa fa-share-alt fa-5x"></i>
      fa-share-alt
    </option>
    <option value="fa-share-alt-square">
      <i class="fa fa-share-alt-square fa-5x"></i>
      fa-share-alt-square
    </option>
    <option value="fa-bomb">
      <i class="fa fa-bomb fa-5x"></i>
      fa-bomb
    </option>

</select>
  <div class="form-actions">
    <%= f.button :submit ,'Agregar',  :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.Cancelar")),
                tipo_elementos_path, :class => 'btn' %>
  </div> 
<% end %>


