<div class="col-lg-2 col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading"> 
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa <%= tipo_elemento.icono %>  fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"><%= Elemento.cuente(tipo_elemento.id)%></div>
                    <div><%= tipo_elemento.nombre %></div>
                </div>
            </div>
        </div>
        
        <div class="panel-footer">
            <a href=<%= tipo_elemento_path(tipo_elemento) %>>
                <div class="pull-right"><i class="fa fa-trash-o fa"></i>
                </div>
            </a>
           
            <a href=<%= edit_tipo_elemento_path(tipo_elemento)%>>
                <div class="pull-right"><i class="fa fa-edit"></i> 
                </div>
            </a>
            
            <a href=<%= elementos_path(tipo_elemento_id: tipo_elemento.id)%>>
                <span class="pull-left">Ir a <%= tipo_elemento.nombre %></span>
                <div class="clearfix"></div>
            </a>
        </div>
        
    </div>
</div>

