<p id="notice"><%= notice %></p>


<div class="panel panel-primary col-md-5" align="justified">
<div class="panel-heading"><h4>Usuario Registrado</h4></div> 
 <div class="panel-body">		
		<p>
			<strong>Nombre Completo:</strong>
			<%= @user.nombre %>
		</p>
		<hr>
		<p>
			<strong>Telefono:</strong>
			<%= @user.telefono %>
		</p>
		<hr>
		<p>
			<strong>Celular:</strong>
			<%= @user.celular %>
		</p>
		<hr>
		<p>
			<strong>Direccion:</strong>
			<%= @user.dir %>
		</p>
		<hr>
		<p>
			<strong>Email:</strong>
			<%= @user.email %>
		</p>
		</div>
</div>
<!-- <p>
  <strong>Crypted password:</strong>
  <%= @user.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p> -->


<br>	<div class="col-md-12">
<%= link_to 'Editar', edit_user_path(@user), :class => 'btn btn-default' %> |
<%= link_to 'Atras', :back, :class => 'btn btn-default'  %>
</div>