<%= simple_form_for @elemento, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :nombre %>
  <%= f.input :codigo_interno %>
  <%= f.input :codigo_contable %>
  <%= f.input :descripcion %>
 <%= f.collection_select :tipo_elemento_id, TipoElemento.all, :id, :nombre, prompt: "Seleccione Tipo de Elemento", required: true %>
  <%= f.collection_select :estado_id, Estado.all, :id, :nombre, prompt: "Seleccione Estado" %>

  <div class="form-actions">
    <%= f.button :submit, "Guardar", :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.Cancelar")),
                elementos_path(tipo_elemento_id: @elemento.tipo_elemento_id), :class => 'btn' %>
  </div> 
<% end %>
 