<%= simple_form_for @elemento, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :identificacion %>
  <%= f.input :nombre %>
  <%= f.input :codigo_interno %>
  <%= f.input :codigo_contable %>
  <%= f.input :descripcion %>
  <%= f.input :tipo_elemento_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                elementos_path, :class => 'btn' %>
  </div>
<% end %>
