<%- model_class = Elemento -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    
    <%= form_tag elementos_path, :method => 'get' do %>
    <% content_tag :label do %>
    Buscar:
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Codigo Interno", :class => "btn btn-success"%>
    <% end %>
    <% end %>

  </div>

  <!-- Table -->
  <table class="table table-striped table-bordered ">
    <thead class="btn-success">
      <tr>
        <th>Mostrar Elemento</th>
        <th><%= model_class.human_attribute_name(:nombre) %></th>
        <th><%= model_class.human_attribute_name(:codigo_interno) %></th>
        <th>Placa Inventario</th>
        <th><%= model_class.human_attribute_name(:descripcion) %></th>
        <th><%= model_class.human_attribute_name(:tipo_elemento_id) %></th>
        <th><%= model_class.human_attribute_name(:estado_id) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>

  

    <tbody>
      <% @elementos.each do |elemento| %>
      <tr>
        <td><%= link_to "Mostrar Elemento", elemento_path(elemento) %></td>
        <td><%= elemento.nombre %></td>
        <td><%= elemento.codigo_interno %></td>
        <td><%= elemento.codigo_contable %></td>
        <td><%= elemento.descripcion %></td>
        <td><%= elemento.tipo_elemento.nombre %></td>
        <td><%= elemento.estado.nombre %></td>
        <td>
          <%= link_to'', edit_elemento_path(elemento,tipo_elemento_id: @tipo_elemento_id), :class => 'fa fa-edit fa-2x' %>
          <%= link_to '', elemento_path(elemento),:method => :delete,
          :data => { :confirm => 'Estas Seguro?'},
          :class => 'fa fa-trash-o fa-2x' %>
        </td>
      </tr>
      <% end %>
    </tbody>

    
  </table>
</div>

  

<%= link_to t('.new', :default => t("helpers.links.Nuevo")),
            new_elemento_path,
            :class => 'btn btn-primary' %>
<br>
Elementos: <%= @elementos.count %>
