<%- model_class = Elemento -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @elemento.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:codigo_interno) %>:</strong></dt>
  <dd><%= @elemento.codigo_interno %></dd>
  <dt>Placa Inventario</strong></dt>
  <dd><%= @elemento.codigo_contable %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @elemento.descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_elemento_id) %>:</strong></dt>
  <dd><%= @elemento.tipo_elemento.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estado_id) %>:</strong></dt>
  <dd><%= @elemento.estado.nombre %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Atras', elementos_path(tipo_elemento_id: @elemento.tipo_elemento_id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.Editar")),
              edit_elemento_path(@elemento), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.Eliminar")),
              elemento_path(@elemento),
              :method => 'delete',
              :data => { :confirm => 'Estas Seguro?' },
              :class => 'btn btn-danger' %>
</div>
