<%= simple_form_for @registro, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :documento %>
  <%= f.input :nombre_completo %>
  <%= f.input :numero_ficha %>
  <%= f.input :email %>
  Masculino: <%= f.radio_button(:genero, true) %>
  Femenino: <%= f.radio_button(:genero, false) %>
  <div class="form-actions">
    <%= f.button :submit, 'Crear Registro', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.Cancelar")),
                registros_path, :class => 'btn' %>
  </div>
<% end %>
